@charset "utf-8";
html,body,h1,h2,h3,h4,h5,h6,div,ul,li,a,span,p,input,form {
	margin: 0;
	padding: 0;
	font-family: '微软雅黑';
	font-size: 14px;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
a:hover {
    color: #d7212d;
}
.clear {
    clear: both;
}
.nav{
	position: absolute;
	height: 30px;
	width: 80%;
	left: 10%;
	top:0;
	background: #eee;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.logo{
	display:inline-block;
	height:100%;
	width :80px;
	line-height: 30px;
	text-align: center;
}
.nav-bar{
	display:inline-block;
	float: right;
	width:120px;
	height:100%;
	padding-top: 5px;
}
.nav-bar button{
	display:inline-block;
	color : #555;
	font-size : 0.5em;
	font-weight : 400;
	cursor: pointer;
	border: 1px solid #ccc;
	width:40px;
	height:20px;
}
.container{
	width: 80%;
	margin-top: 40px;
	height: 440px;
	margin-left: 10%;
}

/*首页左侧登录注册*/
.accordion{
    width: 300px;
    float : right;
}
.form-row{
	height : 30px;
	width:100%;
	margin-bottom: 4px;
}
.form-row input{
	width : 90%;
	height:28px;
	border-radius: 3px;
	border: 1px solid #ddd;
	text-indent: 4px;
}
.form-row .submit{
	float :left;
	width : 68px;
	height : 28px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	cursor : pointer;
}

/*用户列表*/
.user-list{
    width: 680px;
    max-width: 100%;
    min-width: 340px;
    float : left;
    height: 340px;
    margin: 0 auto;
    position:relative;
}
.user{
    height: 100px;
    min-width: 100px;
    width:30%;
    float : left;
    background-color: #cdcdcd;
    margin : 0 0 10px 2.6%;
}
.user-nickname{
	padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}
.user-nickname span{
	float : right;
	cursor: pointer;
}
.user-content{
	padding :0.4em;
}
.user-more{
	display: none;
}
.user .add{
    width : 12px;
    background : url('/img/add.png') no-repeat center left;
    height : 12px;
    display: inline-block;
    float : right;
    margin : -3px -3px 0 0;
    cursor: pointer;
}
.user p{
	font-size: 12px;
}