/*用户好友面板*/
.user-panel {
    background: #e9e9e9;
    width: 240px;
    float : right;
}
.user-name {
    width:100%;
    text-indent: 8px;
    display:inline-block;
}
.user-news{
    height:20px;
    font-size: 10px;
    line-height: 20px;
    cursor: pointer;
}
.user-news li{
    float: left;
    font-size: 12px;
    margin-left: 8px;
    font-weight: normal;
}
.mgs-img{
    width:15px;
    height:15px;
    display:inline-block;
    margin-left: 4px;
    background:url('/img/msg.png') no-repeat center left;
}
/*user-friends start*/
.user-friends {
    background: #fff;
    height: 300px;
}
.del{
    background: url('/img/del.png') no-repeat center left;
    width:10px;
    height:10px;
    margin:3px 3px 0 0;
    float:right;
    display : none;
}
.chat-with{
    width:100%;
    display:inline-block;
    color:#333;
}
/*用户列表*/
.user-search, .user-addgroup{
    height:30px;
    width:100%;
    margin-left: 18px;
    display: none;
}
.user-search .form-row, .user-addgroup .form-row{
    width: 50%;
    float: left;
}
.group-list {
    position: absolute;
    display: none;
    right : -70px;
    width: 70px;
}
.group-list li{
    width : 100%;
    height : 20px;
    line-height: 20px;
    color: #0000ee;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    margin-top: 4px;
}