/*用户好友面板*/
.user-panel {
    background: #00dcb4;
    width: 200px;
    float : right;
}
.user-name {
    width:100%;
    text-indent: 8px;
    display:inline-block;
}
.user-news{
    height:20px;
    font-size: 10px;
    line-height: 20px;
    cursor: pointer;
}
.mgs-img{
    width:15px;
    height:15px;
    display:inline-block;
    margin-left: 4px;
    background:url('/img/msg.png') no-repeat center left;
}
.user-options {
    background: #222b34;
    height:20px;
}

.user-option{
	width: 50%;
	height: 100%;
    display: inline-block;
    float: left;
    text-align: center;
    cursor: pointer;
    text-align: center;
}
.option-img1{
    height:20px;
    width:16px;
    margin: 0 auto;
    background:url('/img/touxiang.png') no-repeat center left;
}
.option-active {
    background: #7687ae !important;
}

/*user-friends start*/
.del{
    background: url('/img/del.png') no-repeat center left;
    width:10px;
    height:10px;
    margin:5px;
    float:right;
    display : none;
}
.user-friends {
    background: #2b3343;
    height: 300px;
}
.user-group{
	color: #fff;
}
.user-group>span{
	height: 20px;
	line-height: 20px;
	width: 98%;
	float: left;
    background: url(/img/sanjiaoxinga.png) no-repeat center left;
    margin-left: 4px;
    color: #fff;
    cursor: pointer;
    z-index: 9;
}
.user-group>span.open {
    background: url(/img/sanjiaoxingb.png) no-repeat center left;
}
.group-friend {
    display : none;
}
.chat-with{
    width:100%;
    display:inline-block;
    color:#fff;
    text-indent: 22px;
}
.user-help{
	width: 100%;
	height: 20px;
	line-height: 20px;
}
.user-help li {
    display: inline-block;
}
.user-help li a{
    font-size: 12px;
}
.dialog-group{
    display: none;
}
.help-dialog button{
    width:22%;
}
.add-group{
    width: 75%;
}
/*用户列表*/
.user-list{
    width: 680px;
    max-width: 100%;
    min-width: 340px;
    float : left;
    height: 340px;
    margin-left: 20px;
    background:#dedede;
    position:relative;
}
.user{
    height: 100px;
    min-width: 100px;
    width:30%;
    float : left;
    background-color: #cdcdcd;
    margin : 10px 0 0 2.6%;
}
.user .add{
    width : 12px;
    background : url('/img/add.png') no-repeat center left;
    height : 12px;
    display: inline-block;
    float : right;
    margin : -3px -3px 0 0;
    cursor: pointer;
}
.group-list {
    position: absolute;
    display: none;
    left : -70px;
    width: 70px;
}
.group-list li{
    width : 100%;
    height : 20px;
    background: red;
    cursor: pointer;
    text-align: center;
    margin-top: 8px;
}