*{
	margin:0;
	padding: 0;
	list-style: none;
	font-family: '微软雅黑';
}
a {
    text-decoration: none;
}

/*聊天的控制面板*/
.chat_dialog{
	margin:8px auto;
	width: 530px;
	height: 550px;
	background:#ffe;
	border:1px solid #656D82;
}
.dialog_title{
	height: 26px;
	line-height: 26px;
	display: block;
	color: white;
	background: #656D82;
}
.title_option{
	float: left;
	font-size: 14px;
	width: 33%;
	text-align: center;
}
.title_name{
	text-align: left;
	text-indent: 16px;
	font-weight: bold;
}
.title_close a{
	font-size: 10px;
	float: right;
	color: white;
}
/*内容对话*/
.msg_container{
	margin: 8px 4px 0px 4px;
}
.msg_box,.msg_edit{
	border: 1px solid #656D82;
}
.msg_box{
	overflow-y:auto;
	height:440px; 
}
.msg_box ul li{
	margin-top: 1px;
	float: left;
	width: 100%;
}
.msg_box ul li span{
	float: left;
	width: 100%;
	font-size: 14px;
	color: #777;
}
.msg_from p, .msg_to p{
	text-align: left;
	font-size: 15px;
	line-height: 24px;
	float: left;
	padding: 2px 4px;
	max-width: 70%;
	margin-left: 16px;
	-moz-border-radius: 8px; /* Gecko browsers */
	-webkit-border-radius: 8px; /* Webkit browsers */
	border-radius:8px; /* W3C syntax */
	background: #CDD7E2;
	color: #333;
}
.msg_to span{
	text-align: right;
}
.msg_to p{
	float: right;
	margin-right: 16px;
	background: #A6D4F2;
	color: #16476B;
}
.msg_history li p{
	background: #bbb;
	color: white;
}
.history_more{
	text-align: center;
}
.history_more a{
	color: #2786E4;
}

/*内容编辑*/
.msg_edit{
	margin: 8px 0px;
	height: 60px;
	float: left;
	width: 100%;
}
.msg_edit textarea{
	border: none;
	border-right: 1px solid #656D82;
	height: 100%;
	width: 90%;
	float:left;
	resize:none;
}
.msg_edit span{
	height: 100%;
	width: 10%;
	float: left;
	background: red;
}
.msg_btn{
	float: left;
	height: 50%;
	border: none;
	width: 100%;
}
.sendBtn{
	border-bottom: 1px solid #656D82;
}